.filter-section {
  margin: 0;
  width: 250px;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds slight shadow */
  overflow: hidden; /* Ensures no overflow from content */
  max-height: fit-content; /* Dynamically adjusts height to fit content */
  position: sticky; /* Keeps the filter section visible when scrolling */
  top: 2px; /* Optional: Adds spacing from the top when sticky */
  color: var(--bold-heading-color)
}

.filter-group {
  margin-bottom: 15px;
}

.filter-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.filter-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  color: #666;
}