.StudyCircle {
    min-height: 100vh;
    background-color: white;
    color: black
  }
  
  .content-wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  @media (max-width: 768px) {
    .content-wrapper {
      flex-direction: column;
    }
  }
  
  