.hero-section {
  display: flex;
  align-items: center; /* Centers content vertically */
  background-color: #1a1a1a;
  color: white;
  padding: 60px 0;
  padding-bottom: 0px;
}

.heroContent {
  flex: 1;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers text vertically */
  height: 100%; /* Ensures proper alignment */
}

.heroContent h1 {
  color: white;
  margin-bottom: 20px; /* Adds spacing */
  letter-spacing: 1.5px; /* Added letter spacing for cleaner look */
}

.highlight {
  letter-spacing: 1.5px; /* Ensure consistency with main heading */
}

.hero-text {
  display: flex;
  gap: 20px;
  margin-top: 0px;
}

.hero-para {
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5px;
}

.hero-para p {
  letter-spacing: 0.8px; /* Added subtle letter spacing to paragraphs */
}

.vertical-line {
  width: 4px;
  background-color: var(--primary-color);
  margin-right: 15px;
}

.hero-image {
  flex: 1;
  height: 400px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .hero-section {
      flex-direction: column;
  }
  
  .heroContent {
      align-items: center; /* Centers content horizontally for small screens */
      text-align: center;
  }

  .hero-image {
      height: 300px;
  }
}

@media (max-width: 768px) {
  .heroContent {
      padding: 30px;
  }
}